<head>
    <title>Botkit CMS</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/new.css" />

    <!-- moment.js for time manipulation -->
    <script src="/js/moment.min.js"></script>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-cookies.js"></script>
    <script src="/js/elastic.min.js"></script>
    <script src="/js/angular-drag-and-drop-lists.min.js"></script>
    <script src="/js/clipboard.min.js"></script>
    <script src="/js/ngclipboard.min.js"></script>
    <script src="/js/async.min.js"></script>

    <!-- the botkit studio editor -->
    <script src="/js/scripts.js"></script>
</head>
